.trip-list {
  display: flex;
  justify-content: center;

  .search-filter {
    display: flex;
    justify-content: space-evenly;
  }

  @media all and(max-width: 405px) {
    .search-filter {
      display: inline-block;
      justify-content: space-evenly;
    }
  }
}
