.home {
  height: 100vh;
  background-image: url("https://static.wixstatic.com/media/846d71_33277bd7d37f4ea9ac70b657f021535e~mv2_d_1920_1281_s_2.jpg/v1/fill/w_1480,h_987,al_c,q_90/846d71_33277bd7d37f4ea9ac70b657f021535e~mv2_d_1920_1281_s_2.webp");
  background-size: cover;
}
