.header {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  padding-top: 10px;

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .nav-item {
    font-weight: 100;
    text-decoration: none;
    color: white;
  }

  .nav-title {
    font-weight: bolder;
    font-size: 35px;
  }
}
.cur-user {
  font-weight: 100;
}
